<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Confirmation</title>
</head>
<body class="bg-gray-100 p-8">
  <div class="max-w-lg mx-auto bg-white p-6 rounded-md shadow-md">
    <h1 class="text-3xl font-semibold mb-4">Données reçues avec succès</h1>
    <p><span class="font-semibold">Nom:</span> <%= nom %></p>
    <p><span class="font-semibold">Prénom:</span> <%= prenom %></p>
    <p><span class="font-semibold">Genre:</span> <%= genre %></p>
    <p><span class="font-semibold">Pays:</span> <%= pays %></p>
    <p><span class="font-semibold">Auteurs:</span> <%= auteurs %></p>
    <p><span class="font-semibold">Image(s):</span> <%= imgName %></</p>
    <p><span class="font-semibold">CV:</span> <%= cvname %></</p>
  </div>
</body>
</html>